build --cxxopt="-std=c++11" --host_cxxopt="-std=c++11"
build --copt="-Wno-sign-compare" --host_copt="-Wno-sign-compare"
build --copt="-fno-strict-aliasing" --host_copt="-fno-strict-aliasing"
build --copt="-Werror=return-type" --host_copt="-Werror=return-type"
build --copt="-Werror=unused-result" --host_copt="-Werror=unused-result"
